body {
  margin: 0;
  padding: 0;
  /*background: black;*/
  /*color: white;*/
}

nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #006456;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: .2em 2em;
  float: right;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: .2em .7em;
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 2.15em;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

nav a:hover {
  color: rgb(220,120,0);
}

.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .45s ease-in-out;
}

.bg-visible {
  opacity: 1;
}

h1 {
  /*text-align: center;*/
  font-family: Ubuntu;
  letter-spacing: 1px;
}

p{
    width: 70%;
    float: left;
}

.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: #006456;
  background: url(fig1.jpg) no-repeat 20% 20% fixed;
  background-size: 100% ! important;
  overflow: hidden;
}

.content-wrapper {
  width: 70%;
  float: right;
  display: inline-block;
  /*height: 3000px;*/
  padding: 1em 5%;
}

.content-wrapper h1 {
  margin: 0;
  color: #006456;
  text-shadow: 2px 2px 8px #000000;
}

.content-wrapper p {
  font-family: "Open Sans";
  text-indent: 1.5em;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bolder
}

button.accordion.active, button.accordion:hover {
    background-color: #006456;
    color: white
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}

.table td, .table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #dddddd;
}

.footer{
  color: white;
  background-color: #006456;
  font-size: 1.5em;
  text-align: center;
  margin-top: 100px;
}

#facility {
  border-radius: 25px;
  width: 75%;
  vertical-align: center;
  margin-top: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #006456;
}

#slider{
  width: 25%;
  float: right;
  background-color: #006456;
}

.sidebar{  
  width: 20%;
  float: left;
  color: white  
}

.menu{
  background-color: #006456;
  border-radius: 25px;
  padding: 5px;
  margin: 1px;
}

.sidebar ul{
  list-style:none;
  font-style: italic;
}

.mySlides{
  height: 200px;
}

.bounds{
  color: #006456;
  text-align: center;
  border: 1px solid #006456;
  border-collapse: collapse;
  max-width: 30%
}

.bounds td, .bounds th {
    border: 1px solid #006456;
    padding: 8px;
}

.heading{
  font-size: 15px;
  font-weight: bolder;
  font-style: italic;
}
